# Node
node_modules/
.next/
.env/
.env.*

# Python
__pycache__/
*.py[cod]
venv/
.venv/
.env/
*.env

# macOS
.DS_Store

# General
*.log
dist/
build/
.cache/
*.sqlite3

# VSCode
.vscode/

.idea/

# Others
*.swp
*.bak

.ruff_cache/

# Conversation Storage
conversations/